

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#2E9FD3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#ffffff;
}

.App-body {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#2E9FD3;
}

.App-link {
  color: rgb(131, 122, 122);
  padding: 0px 15px;
  display: flex;
  text-decoration: none;
  font-weight: bold;
  font-size:20px;
  
}

.App-link:hover {
  color:#2E9FD3;
}

table.draft-board {
  position: relative;
  width: 40%;
  margin-left: auto;
  margin-right: auto;

}

Button.button {
  margin-right: 5px;
  margin-top: 10px;
  width: 100px;
  background-color: #2E9FD3;
  color: white;
}
tbody {
  font-size: 20px;

}

div.subheader {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 7px grey;
}

div.city-and-logo {
  display: block;
  }

div.page-links {
  margin: 0px;
  padding: 0px;
  display: flex;
}
h1 {
  margin-top: 0px;
  margin-bottom: 8px;
  display: inline-block;
}
img.logo {
  vertical-align: bottom;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

img.player-headshot {
  height: 10%;
  width: 10%;
}

tr.headers {
  font-weight: bold;
  font-size: 20px;
  color: rgb(0, 0, 0)
}
td.lottery-break {
  background-color:#2E9FD3;
  color: black;
  font-weight: bold;
  text-align: center;
  

}

td {
  vertical-align: middle;
}
td.order {
  width: 4%;
  text-align: left;
}
td.city {
  width: 15%;
}

td.win-pct {
  width: 10%
}

td.record {
  width: 10%
}

div.commanders {
  width: 100%;
}
div.player-name-and-image {
  float: left;
}

div.pick-container {
  position: relative;
}

div.change {
  right: 0px;
  margin-right: auto;
  margin-top: auto;
  text-align: right;
  font-size: 15px;
  position: absolute;
}
div.team-select{
  margin:0px;
  padding:0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
